# Objectives 

### Use Python to construct a limit order book and simulate the dynamic trading process.

**What is a market order and how do I use it?**


A market order is an order to buy or sell a stock at the market's current best available price. A market order typically ensures an execution, but it does not guarantee a specified price. Market orders are optimal when the primary goal is to execute the trade immediately. A market order is generally appropriate when you think a stock is priced right, when you are sure you want a fill on your order, or when you want an immediate execution.

A few caveats: A stock's quote typically includes the highest bid (for sellers), lowest offer (for buyers), and the last trade price. However, the last trade price may not necessarily be current, particularly in the case of less-liquid stocks, whose last trade may have occurred minutes or hours ago. This might also be the case in fast-moving markets, when stock prices can change significantly in a short period of time. Therefore, when placing a market order, the current bid and offer prices are generally of greater importance than the last trade price.

Generally, market orders should be placed only during market hours. A market order placed when markets are closed would be executed at the next market open, which could be significantly higher or lower from its prior close. Between market sessions, numerous factors can impact a stock's price, such as the release of earnings, company news or economic data, or unexpected events that affect an entire industry, sector or the market as a whole.



**What is a limit order and how does it work?**

A limit order is an order to buy or sell a stock with a restriction on the maximum price to be paid or the minimum price to be received (the "limit price"). If the order is filled, it will only be at the specified limit price or better. However, there is no assurance of execution. A limit order may be appropriate when you think you can buy at a price lower than--or sell at a price higher than--the current quote.

### Buys

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from random import *

In [2]:
# Time 
now = datetime.now()
current_time = now.strftime("%H:%M:%S")

In [3]:
current_time

'20:51:00'

In [5]:
first_price = int(input('input the first price : '))
first_size = randint(100,200)
first_Id = "B"+str(0)

input the first price : 400

In [6]:
# Intitiate Buys's table
first_row = [ (first_Id,current_time,first_size, first_price)]
#Create a DataFrame object
Buys = pd.DataFrame(first_row, 
                  columns = ['ID_B','Time_B','Size_B','Price_B'])

In [7]:
Buys

  ID_B    Time_B  Size_B  Price_B
0   B0  20:51:00     131      400

In [15]:
# Simulate 10 others rows

for i in range(10):
    now = datetime.now()
    current_time = now.strftime("%H:%M:%S")
    Buys.loc[i]=["B"+str(i),current_time,randint(100,200),first_price-i*2/3]

In [16]:
Buys

   ID_B    Time_B  Size_B     Price_B
0    B0  20:55:50     156  400.000000
1    B1  20:55:50     169  399.333333
2    B2  20:55:50     195  398.666667
3    B3  20:55:50     143  398.000000
4    B4  20:55:50     117  397.333333
..  ...       ...     ...         ...
95  B95  20:54:54     199  336.666667
96  B96  20:54:54     161  336.000000
97  B97  20:54:54     146  335.333333
98  B98  20:54:54     114  334.666667
99  B99  20:54:54     189  334.000000

[100 rows x 4 columns]

### Sells

In [17]:
# Time 
now = datetime.now()
current_time = now.strftime("%H:%M:%S")

In [18]:
first_price = int(input('input the first price : '))
first_size = randint(100,200)
first_Id = "S"+str(0)

input the first price : 390

In [19]:
# Intitiate Buys's table
first_row = [ (first_price,first_size,current_time,first_Id )]
#Create a DataFrame object
Sells = pd.DataFrame(first_row, 
                  columns = ['Price_S','Size_S','Time_S','ID_S'])

In [20]:
# Simulate 10 others rows

for i in range(100):
    now = datetime.now()
    current_time = now.strftime("%H:%M:%S")
    Sells.loc[i]=[first_price+i*2/3,randint(100,200),current_time,"S"+str(i)]

In [21]:
Sells

       Price_S  Size_S    Time_S ID_S
0   390.000000     179  20:56:32   S0
1   390.666667     167  20:56:32   S1
2   391.333333     108  20:56:32   S2
3   392.000000     178  20:56:32   S3
4   392.666667     147  20:56:32   S4
..         ...     ...       ...  ...
95  453.333333     167  20:56:33  S95
96  454.000000     136  20:56:33  S96
97  454.666667     155  20:56:33  S97
98  455.333333     197  20:56:33  S98
99  456.000000     174  20:56:33  S99

[100 rows x 4 columns]

### Def function to add buy or sell

In [22]:
# Function to add buy
def add_buy(size,price):
    now = datetime.now()
    current_time = now.strftime("%H:%M:%S")
    Buys.loc[len(Buys)+1]=["B"+str(len(Buys)),
                             current_time,
                             size,
                             price]
    #display(Buys.sort_values(by=['Price_B'], ascending=False))

In [23]:
# Function to add sell

def add_sell(size,price):
    now = datetime.now()
    current_time = now.strftime("%H:%M:%S")
    Sells.loc[len(Sells)+1]=[size,
                  price,
                  current_time,
                  "S"+str(len(Sells))]
    #display(Sells.sort_values(by=['Price_S'], ascending=True))

In [24]:

for i in range(50):
    add_buy(randint(100,500),randint(300,500))
    add_sell(randint(100,500),randint(300,500))

In [29]:
Buys

     ID_B    Time_B  Size_B     Price_B
0      B0  20:55:50     156  400.000000
1      B1  20:55:50     169  399.333333
2      B2  20:55:50     195  398.666667
3      B3  20:55:50     143  398.000000
4      B4  20:55:50     117  397.333333
..    ...       ...     ...         ...
146  B145  20:58:10     176  370.000000
147  B146  20:58:10     411  443.000000
148  B147  20:58:10     400  357.000000
149  B148  20:58:10     487  305.000000
150  B149  20:58:10     217  446.000000

[150 rows x 4 columns]

### Create the book

In [16]:
Buys=Buys.sort_values(by=['Price_B','Time_B'], ascending=False)
Buys=Buys.reset_index()
Buys=Buys.drop('index',axis=1)

In [36]:
Sells=Sells.sort_values(by=['Price_S','Time_S'], ascending=True)
Sells=Sells.reset_index()
Sells=Sells.drop('index',axis=1)

In [37]:
df=pd.concat([Buys,Sells],axis=1)

In [38]:
df

     ID_B    Time_B  Size_B  Price_B  Price_S  Size_S    Time_S  ID_S
0    B104  20:58:09     295    500.0    100.0     417  20:58:10  S130
1    B138  20:58:10     330    491.0    107.0     415  20:58:10  S139
2    B119  20:58:09     460    491.0    111.0     463  20:58:09  S124
3    B124  20:58:09     390    489.0    132.0     431  20:58:09  S112
4    B103  20:58:09     245    486.0    133.0     325  20:58:09  S111
..    ...       ...     ...      ...      ...     ...       ...   ...
145  B137  20:58:10     266    323.0    485.0     393  20:58:10  S132
146  B100  20:58:09     322    318.0    485.0     381  20:58:09  S101
147  B144  20:58:10     203    315.0    487.0     435  20:58:09  S114
148  B148  20:58:10     487    305.0    492.0     492  20:58:10  S138
149  B126  20:58:09     198    300.0    493.0     368  20:58:10  S145

[150 rows x 8 columns]

In [43]:
Sells.Size_S.min()

101

In [52]:
int(Sells[Sells.Price_S==Sells.Price_S.min()].Size_S)

417

##### Market order book

In [55]:
Sells

     Price_S  Size_S    Time_S  ID_S
0      100.0     417  20:58:10  S130
1      107.0     415  20:58:10  S139
2      111.0     463  20:58:09  S124
3      132.0     431  20:58:09  S112
4      133.0     325  20:58:09  S111
..       ...     ...       ...   ...
145    485.0     393  20:58:10  S132
146    485.0     381  20:58:09  S101
147    487.0     435  20:58:09  S114
148    492.0     492  20:58:10  S138
149    493.0     368  20:58:10  S145

[150 rows x 4 columns]

In [53]:
#Market order function 

def MO(Action:str,Size:float):
    '''

    Action : {Buy or Sell}
    Size : the quantity to buy/sell 
    
    '''
    List_of_size=[]
    List_of_price=[]
    
    if Action=='Buy':
        a = Size-int(Sells[Sells.Price_S==Sells.Price_S.min()].Size_S)
        while a>0:
            List_of_size.append(int(Sells[Sells.Price_S==Sells.Price_S.min()].Size_S))
            List_of_price.append(int(Sells[Sells.Price_S==Sells.Price_S.min()].Price_S))
            Sells.drop(Sells[Sells.Size_S==Sells.Size_S.min()])
            a=a-int(Sells[Sells.Price_S==Sells.Price_S.min()].Size_S)
            
    return List_of_size, List_of_price

In [54]:
MO('Buy',1000)

KeyError: "['Price_S', 'Size_S', 'Time_S', 'ID_S'] not found in axis"

##### Limit order book

In [ ]:
#Limit order function 

def LO(Action:str,Size:float,Price:float):
    '''
    
    Action : {Buy or Sell}
    Size : the quantity to buy/sell 
    Price: ~(the price limit)__the price at which you wish to buy 
    
    '''
    return