# Objectives 

### Use Python to construct a limit order book and simulate the dynamic trading process.

**What is a market order and how do I use it?**


A market order is an order to buy or sell a stock at the market's current best available price. A market order typically ensures an execution, but it does not guarantee a specified price. Market orders are optimal when the primary goal is to execute the trade immediately. A market order is generally appropriate when you think a stock is priced right, when you are sure you want a fill on your order, or when you want an immediate execution.

A few caveats: A stock's quote typically includes the highest bid (for sellers), lowest offer (for buyers), and the last trade price. However, the last trade price may not necessarily be current, particularly in the case of less-liquid stocks, whose last trade may have occurred minutes or hours ago. This might also be the case in fast-moving markets, when stock prices can change significantly in a short period of time. Therefore, when placing a market order, the current bid and offer prices are generally of greater importance than the last trade price.

Generally, market orders should be placed only during market hours. A market order placed when markets are closed would be executed at the next market open, which could be significantly higher or lower from its prior close. Between market sessions, numerous factors can impact a stock's price, such as the release of earnings, company news or economic data, or unexpected events that affect an entire industry, sector or the market as a whole.



**What is a limit order and how does it work?**

A limit order is an order to buy or sell a stock with a restriction on the maximum price to be paid or the minimum price to be received (the "limit price"). If the order is filled, it will only be at the specified limit price or better. However, there is no assurance of execution. A limit order may be appropriate when you think you can buy at a price lower than--or sell at a price higher than--the current quote.

### Buys

In [163]:
import pandas as pd
import numpy as np
from datetime import datetime
from random import *

In [164]:
# Time 
now = datetime.now()
current_time = now.strftime("%H:%M:%S")

In [165]:
first_price = int(input('input the first price : '))
first_size = randint(50,200)
first_Id = "B"+str(0)

input the first price : 100

In [166]:
# Intitiate Buys's table
first_row = [ (first_Id,current_time,first_size, first_price)]
#Create a DataFrame object
Buys = pd.DataFrame(first_row, 
                  columns = ['ID_B','Time_B','Size_B','Price_B'])

In [167]:
# Simulate 10 others rows

for i in range(10):
    now = datetime.now()
    current_time = now.strftime("%H:%M:%S")
    Buys.loc[i]=["B"+str(i),current_time,randint(50,200),first_price-i*2/3]

In [168]:
Buys

  ID_B    Time_B  Size_B     Price_B
0   B0  11:54:59      61  100.000000
1   B1  11:54:59     128   99.333333
2   B2  11:54:59     152   98.666667
3   B3  11:54:59      86   98.000000
4   B4  11:54:59     115   97.333333
5   B5  11:54:59     195   96.666667
6   B6  11:54:59      92   96.000000
7   B7  11:54:59     113   95.333333
8   B8  11:54:59     153   94.666667
9   B9  11:54:59      85   94.000000

### Sells

In [169]:
# Time 
now = datetime.now()
current_time = now.strftime("%H:%M:%S")

In [170]:
first_price = int(input('input the first price : '))
first_size = randint(50,200)
first_Id = "S"+str(0)

input the first price : 99

In [171]:
# Intitiate Buys's table
first_row = [ (first_price,first_size,current_time,first_Id )]
#Create a DataFrame object
Sells = pd.DataFrame(first_row, 
                  columns = ['Price_S','Size_S','Time_S','ID_S'])

In [172]:
# Simulate 10 others rows

for i in range(10):
    now = datetime.now()
    current_time = now.strftime("%H:%M:%S")
    Sells.loc[i]=[first_price+i*2/3,randint(50,200),current_time,"S"+str(i)]

In [173]:
Sells

      Price_S  Size_S    Time_S ID_S
0   99.000000     144  11:55:20   S0
1   99.666667     150  11:55:20   S1
2  100.333333     127  11:55:20   S2
3  101.000000      95  11:55:20   S3
4  101.666667     154  11:55:20   S4
5  102.333333     124  11:55:20   S5
6  103.000000     184  11:55:20   S6
7  103.666667      51  11:55:20   S7
8  104.333333     198  11:55:20   S8
9  105.000000     172  11:55:20   S9

### Def function to add buy or sell

In [207]:
# Function to add buy
def add_buy(size,price):
    now = datetime.now()
    current_time = now.strftime("%H:%M:%S")
    Buys.loc[len(Buys)+1]=["B"+str(len(Buys)),
                             current_time,
                             size,
                             price]
    #display(Buys.sort_values(by=['Price_B'], ascending=False))

In [208]:
# Function to add sell

def add_sell(size,price):
    now = datetime.now()
    current_time = now.strftime("%H:%M:%S")
    Sells.loc[len(Sells)+1]=[size,
                  price,
                  current_time,
                  "S"+str(len(Sells))]
    #display(Sells.sort_values(by=['Price_S'], ascending=True))

In [209]:

for i in range(10):
  add_buy(randint(100,500),randint(300,500))
  add_sell(randint(100,500),randint(300,500))

### Create the book

In [210]:
Buys=Buys.sort_values(by=['Price_B'], ascending=False)
Buys=Buys.reset_index()
Buys=Buys.drop('index',axis=1)

In [211]:
Sells=Sells.sort_values(by=['Price_S'], ascending=True)
Sells=Sells.reset_index()
Sells=Sells.drop('index',axis=1)

In [212]:
df=pd.concat([Buys,Sells],axis=1)

In [213]:
df

   ID_B    Time_B  Size_B     Price_B     Price_S  Size_S    Time_S ID_S
0   B18  11:55:31     235  499.000000   99.000000     144  11:55:20   S0
1   B12  11:55:30     258  462.000000   99.666667     150  11:55:20   S1
2   B11  11:55:30     290  461.000000  100.333333     127  11:55:20   S2
3   B26  12:11:34     388  460.000000  101.000000      95  11:55:20   S3
4   B16  11:55:31     315  456.000000  101.666667     154  11:55:20   S4
5   B28  12:11:34     149  446.000000  102.333333     124  11:55:20   S5
6   B29  12:11:34     157  439.000000  103.000000     184  11:55:20   S6
7   B24  12:11:34     326  428.000000  103.666667      51  11:55:20   S7
8   B23  12:11:34     405  403.000000  104.333333     198  11:55:20   S8
9   B13  11:55:31     286  401.000000  105.000000     172  11:55:20   S9
10  B22  12:11:34     128  393.000000  114.000000     431  11:55:31  S13
11  B27  12:11:34     322  387.000000  136.000000     368  11:55:31  S15
12  B19  11:55:31     409  379.000000  156.000000     362  11:55:31  S12
13  B20  12:11:34     427  378.000000  158.000000     301  12:11:34  S23
14  B17  11:55:31     332  358.000000  209.000000     499  11:55:31  S14
15  B10  11:55:30     274  351.000000  215.000000     429  12:11:34  S24
16  B21  12:11:34     331  347.000000  243.000000     392  11:55:31  S17
17  B14  11:55:31     468  343.000000  250.000000     474  12:11:34  S26
18  B25  12:11:34     382  312.000000  295.000000     323  12:11:34  S28
19  B15  11:55:31     213  308.000000  321.000000     354  12:11:34  S25
20   B0  11:54:59      61  100.000000  330.000000     434  11:55:31  S18
21   B1  11:54:59     128   99.333333  348.000000     320  11:55:30  S10
22   B2  11:54:59     152   98.666667  350.000000     394  12:11:34  S22
23   B3  11:54:59      86   98.000000  351.000000     412  11:55:31  S16
24   B4  11:54:59     115   97.333333  368.000000     362  12:11:34  S27
25   B5  11:54:59     195   96.666667  417.000000     356  11:55:30  S11
26   B6  11:54:59      92   96.000000  417.000000     363  11:55:31  S19
27   B7  11:54:59     113   95.333333  418.000000     365  12:11:34  S21
28   B8  11:54:59     153   94.666667  436.000000     336  12:11:34  S29
29   B9  11:54:59      85   94.000000  473.000000     378  12:11:34  S20

##### Market order book

In [ ]:
#Market order function 

def MO(Action:str,Size:float):
    '''
    
    Action : {Buy or Sell}
    Size : the quantity to buy/sell 
    
    '''
    return

##### Limit order book

In [ ]:
#Limit order function 

def LO(Action:str,Size:float,Price:float):
    '''
    
    Action : {Buy or Sell}
    Size : the quantity to buy/sell 
    Price: ~(the price limit)__the price at which you wish to buy 
    
    '''
    return