# Objectives 

### Use Python to construct a limit order book and simulate the dynamic trading process.

**What is a market order and how do I use it?**


A market order is an order to buy or sell a stock at the market's current best available price. A market order typically ensures an execution, but it does not guarantee a specified price. Market orders are optimal when the primary goal is to execute the trade immediately. A market order is generally appropriate when you think a stock is priced right, when you are sure you want a fill on your order, or when you want an immediate execution.

A few caveats: A stock's quote typically includes the highest bid (for sellers), lowest offer (for buyers), and the last trade price. However, the last trade price may not necessarily be current, particularly in the case of less-liquid stocks, whose last trade may have occurred minutes or hours ago. This might also be the case in fast-moving markets, when stock prices can change significantly in a short period of time. Therefore, when placing a market order, the current bid and offer prices are generally of greater importance than the last trade price.

Generally, market orders should be placed only during market hours. A market order placed when markets are closed would be executed at the next market open, which could be significantly higher or lower from its prior close. Between market sessions, numerous factors can impact a stock's price, such as the release of earnings, company news or economic data, or unexpected events that affect an entire industry, sector or the market as a whole.



**What is a limit order and how does it work?**

A limit order is an order to buy or sell a stock with a restriction on the maximum price to be paid or the minimum price to be received (the "limit price"). If the order is filled, it will only be at the specified limit price or better. However, there is no assurance of execution. A limit order may be appropriate when you think you can buy at a price lower than--or sell at a price higher than--the current quote.

### Buys

In [3]:
import pandas as pd
import numpy as np
from datetime import datetime
from random import *

In [4]:
# Time 
now = datetime.now()
current_time = now.strftime("%H:%M:%S")

In [5]:
first_price = int(input('input the first price : '))
first_size = randint(50,200)
first_Id = "B"+str(0)

input the first price : 200

In [20]:
# Intitiate Buys's table
first_row = [ (first_Id,current_time,first_size, first_price)]
#Create a DataFrame object
Buys = pd.DataFrame(first_row, 
                  columns = ['ID_B','Time_B','Size_B','Price_B'])

In [21]:
# Simulate 10 others rows

for i in range(10):
    now = datetime.now()
    current_time = now.strftime("%H:%M:%S")
    Buys.loc[i]=["B"+str(i),current_time,randint(50,200),first_price-i*2/3]

In [22]:
Buys

  ID_B    Time_B  Size_B     Price_B
0   B0  00:07:21     140  202.000000
1   B1  00:07:21     157  201.333333
2   B2  00:07:21     107  200.666667
3   B3  00:07:21     132  200.000000
4   B4  00:07:21      50  199.333333
5   B5  00:07:21     144  198.666667
6   B6  00:07:21      86  198.000000
7   B7  00:07:21     114  197.333333
8   B8  00:07:21     139  196.666667
9   B9  00:07:21     158  196.000000

### Sells

In [23]:
# Time 
now = datetime.now()
current_time = now.strftime("%H:%M:%S")

In [24]:
first_price = int(input('input the first price : '))
first_size = randint(50,200)
first_Id = "S"+str(0)

input the first price : 202

In [25]:
# Intitiate Buys's table
first_row = [ (first_price,first_size,current_time,first_Id )]
#Create a DataFrame object
Sells = pd.DataFrame(first_row, 
                  columns = ['Price_S','Size_S','Time_S','ID_S'])

In [26]:
# Simulate 10 others rows

for i in range(10):
    now = datetime.now()
    current_time = now.strftime("%H:%M:%S")
    Sells.loc[i]=[first_price-i*2/3,randint(50,200),current_time,"S"+str(i)]

In [31]:
Sells

      Price_S  Size_S    Time_S ID_S
0  202.000000     108  00:07:32   S0
1  201.333333     195  00:07:32   S1
2  200.666667      58  00:07:32   S2
3  200.000000     191  00:07:32   S3
4  199.333333     181  00:07:32   S4
5  198.666667     125  00:07:32   S5
6  198.000000     181  00:07:32   S6
7  197.333333     117  00:07:32   S7
8  196.666667     199  00:07:32   S8
9  196.000000      96  00:07:32   S9

### Def function to add buy or sell

In [33]:
# Function to add buy
def add_buy(size,price):
    now = datetime.now()
    current_time = now.strftime("%H:%M:%S")
    Buys.loc[len(Buys)+1]=["B"+str(len(Sells)),
                             current_time,
                             size,
                             price)]

In [51]:
# Function to add sell

def add_sell(size,price):
    now = datetime.now()
    current_time = now.strftime("%H:%M:%S")
    Sells.loc[len(Sells)+1]=[size,
                  price,
                  current_time,
                  "S"+str(len(Sells))]

### Create the book

In [28]:
df=pd.concat([Buys,Sells],axis=1)

In [29]:
df

  ID_B    Time_B  Size_B     Price_B     Price_S  Size_S    Time_S ID_S
0   B0  00:07:21     140  202.000000  202.000000     108  00:07:32   S0
1   B1  00:07:21     157  201.333333  201.333333     195  00:07:32   S1
2   B2  00:07:21     107  200.666667  200.666667      58  00:07:32   S2
3   B3  00:07:21     132  200.000000  200.000000     191  00:07:32   S3
4   B4  00:07:21      50  199.333333  199.333333     181  00:07:32   S4
5   B5  00:07:21     144  198.666667  198.666667     125  00:07:32   S5
6   B6  00:07:21      86  198.000000  198.000000     181  00:07:32   S6
7   B7  00:07:21     114  197.333333  197.333333     117  00:07:32   S7
8   B8  00:07:21     139  196.666667  196.666667     199  00:07:32   S8
9   B9  00:07:21     158  196.000000  196.000000      96  00:07:32   S9

##### Market order book

In [ ]:
#Market order function 

def MO(Action:str,Size:float):
    '''
    
    Action : {Buy or Sell}
    Size : the quantity to buy/sell 
    
    '''
    return

##### Limit order book

In [ ]:
#Limit order function 

def LO(Action:str,Size:float,Price:float):
    '''
    
    Action : {Buy or Sell}
    Size : the quantity to buy/sell 
    Price: ~(the price limit)__the price at which you wish to buy 
    
    '''
    return